
<ul>
  <h1>Welcome, <%= @user.username %></h1>
  <h2> Classes you are currently teaching;</h2>
<% @user.courses.each do |course| %>
  <li> <b><%= course.title %></b> <br> <%= course.description %></li><br>
<% end %>
</ul>



