<!doctype html>
<html>
  <head>
    <title>OnPoint Leadership Academy</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to the OnPoint Leadership Academy Learning Portal!</h1>
      <%= yield %>
    </div>

  </body>
</html>